<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BufferSize" value="1024"/>
    <add key="FileCopyRetryCount" value="5"/>
    <add key="MailTimeoutMilliseconds" value="3000"/>
    <add key="MailSubject" value="Hello Sync"/>
    <add key="MailRecipients" value="marcelxbalaz@gmail.com"/>
    <add key="HtmlReportOutputFile" value=".\FileSyncReport.html"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="marcelxbalaz@gmail.com" >
        <network host="smtp.gmail.com"
                 port="465"
                 defaultCredentials="false"
                 userName="marcelxbalaz@gmail.com"
                 password="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                 enableSsl="true"  />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
